.TreeNode label {
  display: block;
}
.TreeNode label:hover {
  background: #eee;
}
.TreeNode input[type='checkbox'] {
  display: none;
}
.TreeNode input[type='checkbox'] ~ .TreeNode_icon::before {
  content: '\1F4C1';
}
.TreeNode input[type='checkbox']:checked ~ .TreeNode_icon::before {
  content: '\1F4C2';
}
.TreeNode_children {
  padding-left: 1em;
}

#new-memo {
  background: rgb(50, 157, 0);
  color: white;
  width: 70px;
  height: 40px;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#new-memo:disabled {
  background: #ccc;
  cursor: not-allowed;
}
